

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.aluguel-box {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  margin-top: -7%;
}

.aluguel-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.aluguel-box .user-box {
  position: relative;
}

.aluguel-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.aluguel-box .user-box select {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.aluguel-box .user-box select option {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(0,0,0);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.aluguel-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.aluguel-box .user-box input:focus ~ label,
.aluguel-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.aluguel-box form .iniciarAluguel {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 20px;
  letter-spacing: 4px;
  background-color: transparent;
  border:none
}

.aluguel-box .iniciarAluguel:hover {
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 10px #03e9f4,
              0 0 20px #03e9f4,
              0 0 30px #03e9f4;
}

.aluguel-box .iniciarAluguel span {
  position: absolute;
  display: block;
}

.aluguel-box .iniciarAluguel span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.aluguel-box .iniciarAluguel span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.aluguel-box .iniciarAluguel span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.aluguel-box .iniciarAluguel span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.tabela{
  margin-top: 450px;
  width: 90%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.tabela .cabecalho {
  background: linear-gradient(#141e30, #243b55);
  color: #fff;
  text-align: center;
  height: 40px;
  width: 89.7%;
  display: flex;
  margin-right: 1px;
}

.tabela .cabecalho p {
  margin-top: -0.5px;
  border: 1px solid #cccccc44;
  padding: 8px;
  font-size: 14px;
  height: 20px;
  width: 90%;
}

.tabela .cabecalho p:first-child {
  margin: -0.5px 0 0 -0.9px;
  border: 1px solid #cccccc44;
  padding: 8px;
  font-size: 14px;
  height: 20px;
}

.tabela .alugueis {
  overflow: hidden;
  height: 121px;
  overflow-y: scroll;
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin-top: -1px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  background-color: transparent;
  color: #ffffff;
  border:none;
}

.table td:first-child, .cabecalho p:first-child {
  width: 40%;
}

.table td:nth-child(2), .cabecalho p:nth-child(2) {
  width: 25%;
}

.table td:nth-child(3), .cabecalho p:nth-child(3) {
  width: 25%;
}

.table td:nth-child(4), .cabecalho p:nth-child(4) {
  width: 25%;
}

.table td:nth-child(5), .cabecalho p:nth-child(5) {
  width: 8%;
}

.tabela tr {
  display: flex;
  justify-content: space-around;
}

.tabela tr td {
  width: 90%;
  border: 1px solid #cccccc44;
  padding: 8px;
  text-align: center;
  font-size: 14px;
}

.alugueis::-webkit-scrollbar {
  width: 3px;
}

.alugueis::-webkit-scrollbar-thumb {
  background: white;
  height: 20px;
}

.finalizar{
  border-radius: 15%;
  background-color: #2f4d6e;
  color: white;
  font-size: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.finalizar:hover{
  background-color: #4878af;

}

.buscarPlano {
  position: absolute;
  background: white;
  border-color: white;
  padding: 8px;
  height: 17px;
  width: 3px;
  margin-left: -19px;
  bottom: 30px;
  z-index: 2;
}

#despausarTodos {
  position: absolute;
  top: 0;
  left: 500;
  padding: 10px;
  z-index: 2;
  margin-top: 50px;
  background-color: #243b55;
  color: white;
}

#tempoLivre {
  background: transparent;
  width: 77px;
  padding: 1px 4px;
  border-radius: 10px;
  cursor: pointer;
}

.off a {
  color: white;
  background: transpredarent;
  font-size: 14px;
}

.off {
  border: 2px solid red;
  box-shadow: 1px 1px 6px red, -1px -1px 6px red;
}
.off:hover {
  box-shadow: 1px 1px 12px red, -1px -1px 12px red;
}

.column-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  margin: 0 10px;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 8%;
  margin-top: -10px;

}

.close:hover {
  color: #7e2d2d;
}

.multaETempo {
  background: linear-gradient(#141e30, #243b55);
  position: absolute;
  z-index: 10;
  padding: 20px 40px 20px 20px;
  width: 200px;
 top:0;
 right:0;
 border: #141e30 5px solid;
}

.multaETempo button {
  cursor: pointer;
  margin: 10px;
  background-color: #1f4f85;
  color: white;
}

.multaETempo input{
  color: white;
}

.multaETempo input::placeholder{
  color: white;
}



.editarMulta, .editarTempo {
  display: flex;
  justify-content: space-around;
}

.editarMulta input, .editarTempo input {
  width: 60px;
}



.metodosPagamento li {
  list-style: none;
}

#total {
  color: white;
}

#abrirmodal{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 2;
  margin-top: 50px;
  background-color: #243b55;
  color: white;

}

.modal input {
  background-color: rgba(37, 27, 65, 0.473);
  color: white;
  border: none;
}


.modal input::placeholder{
  color:white
}

