html {
    padding: 0;
    background: linear-gradient(#141e30, #243b55);
    margin: 0;
    overflow: hidden;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }


  /*
  .clientes-table {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  }
  
  .clientes-table th,
  .clientes-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .clientes-table th {
    background-color: #000000;
    
  }*/

  .historico-tabela{
    width: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .historico-tabela .cabecalho {
    background: linear-gradient(#141e30, #243b55);
    color: #fff;
    text-align: center;
    height: 40px;
    width: 89.7%;
    display: flex;
    margin-right: 1px;
  }
 
  .historico-tabela .cabecalho p {
    margin-top: -0.5px;
    border: 1px solid #cccccc44;
    padding: 8px;
    font-size: 14px;
    height: 20px;
    width: 90%;
    cursor: pointer;
  }

  .historico-tabela .cabecalho p:hover{
    box-shadow: inset -1px 1px 5px #cccccc44, -1px 1px 10px #000000;
  }

  .historico-tabela .cabecalho p:first-child {
    margin: -0.5px 0 0 -0.9px;
    border: 1px solid #cccccc44;
    padding: 8px;
    font-size: 14px;
    height: 20px;
    width: 90%;
  }
  .historico-tabela .historico {
    overflow: hidden;
    height: 516px;
    overflow-y: scroll;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: -1px;
  }

  .historico::-webkit-scrollbar {
    width: 3px;
  }

  .historico::-webkit-scrollbar-thumb {
    background: white;
    height: 20px;
  }

  .historico-table {
    border-collapse: collapse;
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    border:none;
  }

  .historico-tabela tr {
    display: flex;
    justify-content: space-around;
  }
  
  .historico-tabela tr td {
    width: 90%;
    border: 1px solid #cccccc44;
    padding: 8px;
    text-align: center;
    font-size: 14px;
  }

  .historico-tabela .cabecalho p:nth-child(2) {
    width: 21.2%;
  }

  .historico-tabela tr td:nth-child(2) {
    width: 21%;
  }

  .historico-tabela tr td:nth-child(3) {
    text-align: left;
  }

  button{
    border-radius: 15%;
    background-color: #2f4d6e;
    color: white;
    font-size: bold;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  button:hover{
    background-color: #4878af;

  }


  

  .modal1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal1-content {
    background: rgba(0,0,0,.5);
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
    color: #fff;
  }
  
  .modal1-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .modal1-buttons button {
    margin-left: 10px;
  }

  .modal1 input {
    background-color: rgba(37, 27, 65, 0.473);
    color: white;
    border: none;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: #7e2d2d;
  }

  .modal2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal2-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal2-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .modal2-buttons button {
    margin-left: 10px;
  }
  
  .modal2 input {
    background-color: rgba(37, 27, 65, 0.473);
    color: white;
    border: none;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
  }

  #filtro_list {
    position: absolute;
    top: 22px;
    border-radius: 3px;
    background: #2e2d2d;
    width: 439px;
    display: none;
  }
  #filtro_list ul {
    display: flex;
    margin: 0 0 0 -40px;
  }
  #filtro_list ul li {
    padding: 10px;
    list-style: none;
    cursor: pointer;
  }

  #filtro_list ul li:hover {
    box-shadow: inset -1px 1px 2px #cccccc44, -1px 1px 3px #000000;
  }

  #filtro_funcionario {
    position: absolute;
    top: 22px;
    border-radius: 3px;
    background: #2e2d2d;
    display: none;
  }
  #filtro_funcionario ul {
    display: flex;
    margin: 0 0 0 -40px;
  }
  #filtro_funcionario ul li {
    padding: 10px;
    list-style: none;
    cursor: pointer;
  }
  
  #filtro_funcionario ul li:nth-child(2):hover {
    box-shadow: inset -1px 1px 2px #cccccc44, -1px 1px 3px #000000;
  }
  #filtro_funcionario input {
    outline: 0;
    border-radius: 5px;
  }

  #filtro_data {
    position: absolute;
    top: 22px;
    border-radius: 3px;
    background: #2e2d2d;
    display: none;
  }
  #filtro_data ul {
    display: flex;
    margin: 0 0 0 -40px;
  }
  #filtro_data ul li {
    padding: 10px;
    list-style: none;
    cursor: pointer;
  }
  
  #filtro_data ul li:nth-child(2):hover {
    box-shadow: inset -1px 1px 2px #cccccc44, -1px 1px 3px #000000;
  }
  #filtro_data input {
    outline: 0;
    border-radius: 5px;
  }

