
html {
    padding: 0;
    background: linear-gradient(#141e30, #243b55);
    margin: 0;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }


  .carrinhos-tabela{
    width: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .carrinhos-tabela .cabecalho {
    background: linear-gradient(#141e30, #243b55);
    color: #fff;
    text-align: center;
    height: 40px;
    width: 89.7%;
    display: flex;
    margin-right: 1px;
  }
 
  .carrinhos-tabela .cabecalho p {
    margin-top: -0.5px;
    border: 1px solid #cccccc44;
    padding: 8px;
    font-size: 14px;
    height: 20px;
    width: 90%;
    cursor: pointer;
  }

  .carrinhos-tabela .cabecalho p:hover{
    box-shadow: inset -1px 1px 5px #cccccc44, -1px 1px 10px #000000;
  }

  .carrinhos-tabela .cabecalho p:first-child {
    margin: -0.5px 0 0 -0.9px;
    border: 1px solid #cccccc44;
    padding: 8px;
    font-size: 14px;
    height: 20px;
    width: 90%;
  }
  .carrinhos-tabela .carrinhos{
    overflow: hidden;
    height: 505px;
    overflow-y: scroll;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: -1px;
  }
  
  .carrinhos-table {
    border-collapse: collapse;
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    border:none;
    overflow-y: scroll;
  }

  .carrinhos-tabela tr {
    display: flex;
    justify-content: space-around;
  }
  
  .carrinhos-tabela tr td {
    width: 90%;
    border: 1px solid #cccccc44;
    padding: 8px;
    text-align: center;
    font-size: 14px;
  }
  
  .carrinhos::-webkit-scrollbar {
    width: 3px;
  }
  
  .carrinhos::-webkit-scrollbar-thumb {
    background: white;
    height: 20px;
  }

  button{
    border-radius: 15%;
    background-color: #2f4d6e;
    color: white;
    font-size: bold;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    margin: 0 10px 0 10px;
  }

  button:hover{
    background-color: #4878af;

  }


.modal1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal1-content {
    background: rgba(0,0,0,.5);
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
    color: #fff;
  }
  
  .modal1-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .modal1-buttons button {
    margin-left: 10px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: #7e2d2d;
  }

  .btnVerDesativados {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 2px;
    cursor: pointer;
    border:#141e30
  }
  
  .modal3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
  }
  
  .modal3-content {
    background: linear-gradient(#141e30, #243b55);
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    text-align: center;
    color: #fff;
    border: #141e30 5px solid;
    
  }

  .modal3 input {
    background-color: rgba(37, 27, 65, 0.473);
    color: white;
    border: none;
  }
  
  .close3 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 14.8%;
    margin-top: -10px;

  }
  
  .close3:hover {
    color: #7e2d2d;
  }

  .carrinhosD-tabela{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .carrinhosD-tabela .cabecalhoD {
    background: linear-gradient(#141e30, #243b55);
    color: #fff;
    text-align: center;
    height: 40px;
    width: 89.7%;
    display: flex;
    margin-right: 1px;
  }
 
  .carrinhosD-tabela .cabecalhoD p {
    margin-top: -0.5px;
    border: 1px solid #cccccc44;
    padding: 8px;
    font-size: 14px;
    height: 20px;
    width: 90%;
  }

  .carrinhosD-tabela .cabecalhoD p:first-child {
    margin: -0.5px 0 0 -0.9px;
    border: 1px solid #cccccc44;
    padding: 8px;
    font-size: 14px;
    height: 20px;
    width: 90%;
  }
  .carrinhosD-tabela .carrinhosD{
    overflow: hidden;
    height: 505px;
    overflow-y: scroll;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: -1px;
  }
  
  .carrinhosD-table {
    border-collapse: collapse;
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    border:none;
  }

  .carrinhosD-tabela tr {
    display: flex;
    justify-content: space-around;
  }
  
  .carrinhosD-tabela tr td {
    width: 90%;
    border: 1px solid #cccccc44;
    padding: 8px;
    text-align: center;
    font-size: 14px;
  }
  
  .carrinhosD::-webkit-scrollbar {
    width: 3px;
  }
  
  .carrinhosD::-webkit-scrollbar-thumb {
    background: white;
    height: 20px;
  }

  button{
    border-radius: 0;
    background-color: #2f4d6e;
    color: white;
    font-size: bold;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    margin: 0 10px 0 10px;
  }

  button:hover{
    background-color: #4878af;

  }

  #filtro_carrinho {
    position: absolute;
    top: 22px;
    border-radius: 3px;
    background: #2e2d2d;
    display: block;
  }
  #filtro_carrinho ul {
    display: flex;
    margin: 0 0 0 -40px;
  }
  #filtro_carrinho ul li {
    padding: 10px;
    list-style: none;
    cursor: pointer;
  }
  
  #filtro_carrinho ul li:nth-child(2):hover {
    box-shadow: inset -1px 1px 2px #cccccc44, -1px 1px 3px #000000;
  }
  #filtro_carrinho input {
    outline: 0;
    border-radius: 5px;
  }
#filtro_data {
    position: absolute;
    top: 22px;
    border-radius: 3px;
    background: #2e2d2d;
    display: block;
  }
  #filtro_data ul {
    display: flex;
    margin: 0 0 0 -40px;
  }
  #filtro_data ul li {
    padding: 10px;
    list-style: none;
    cursor: pointer;
  }
  
  #filtro_data ul li:nth-child(2):hover {
    box-shadow: inset -1px 1px 2px #cccccc44, -1px 1px 3px #000000;
  }
  #filtro_data input {
    outline: 0;
    border-radius: 5px;
  }

  .modal5 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal5-content {
    background: linear-gradient(#141e30, #243b55);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    position: relative;
    border: #141e30 5px solid;
  }
  
  .fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    color: white;
  }
  
  .fechar:hover {
    color: #7e2d2d;
  }
  
 
  
  

  .mostrarSoma{
    position: absolute;
    top: 0;
    left: 500;
    padding: 10px;
    z-index: 2;
    margin-top: 100px;
  }